@charset "utf-8";
/* ===================================================== */
/* Change initial variables and derived bulma variables  */
/* ===================================================== */
// Colors override

$black:        hsl(180, 5%, 4%) !default
$black-bis:    hsl(0, 0%, 7%) !default
$black-ter:    hsl(0, 0%, 14%) !default

$grey-darker:  hsl(0, 0%, 21%) !default
$grey-dark:    hsl(0, 0%, 29%) !default
$grey:         hsl(206, 3%, 67%) !default
$grey-light:   hsl(206, 10%, 87%) !default
$grey-lighter: hsl(0, 0%, 86%) !default

$white-ter:    hsl(210, 12%, 97%) !default
$white-bis:    hsl(0, 0%, 98%) !default
$white:        hsl(0, 0%, 100%) !default

$orange:       hsl(14,  100%, 53%) !default
$yellow:       hsl(50,  100%, 52%)  !default
$green:        hsl(141, 71%,  48%) !default
$turquoise:    hsl(171, 100%, 41%) !default
$cyan:         hsl(204, 86%,  53%) !default
$blue:         hsl(217, 71%,  53%) !default
$purple:       hsl(271, 100%, 71%) !default
$red:          hsl(348, 100%, 61%) !default

// derived variables
$primary: $yellow;
$card-color: $grey;
$title-color: $black;


// font override
$family-sans-serif: 'Roboto', sans-serif;

/* utilities */
@import "~bulma/sass/utilities/_all";
/* base */
@import "~bulma/sass/base/_all";
/* elements */
@import "~bulma/sass/elements/box.sass";
@import "~bulma/sass/elements/button.sass";
@import "~bulma/sass/elements/container.sass";
@import "~bulma/sass/elements/content.sass";
@import "~bulma/sass/elements/icon.sass";
@import "~bulma/sass/elements/image.sass";
@import "~bulma/sass/elements/notification.sass";
@import "~bulma/sass/elements/progress.sass";
@import "~bulma/sass/elements/tag.sass";
@import "~bulma/sass/elements/title.sass";
@import "~bulma/sass/elements/other.sass";
/* forms */
@import "~bulma/sass/form/_all";
/* components */
@import "~bulma/sass/components/card.sass";
@import "~bulma/sass/components/dropdown.sass";
@import "~bulma/sass/components/level.sass";
@import "~bulma/sass/components/list.sass";
@import "~bulma/sass/components/media.sass";
@import "~bulma/sass/components/menu.sass";
@import "~bulma/sass/components/message.sass";
@import "~bulma/sass/components/modal.sass";
@import "~bulma/sass/components/navbar.sass";
@import "~bulma/sass/components/tabs.sass";
/* grid */
@import "~bulma/sass/grid/_all";
/* layout */
@import "~bulma/sass/layout/hero.sass";
@import "~bulma/sass/layout/footer.sass";




/* ================================================= */
/*          Override/change bulma styling            */
/* ================================================= */
.section {
  padding: 1.9rem 1rem 0;
}
